.hero--image_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.hero--image {
    width: 400px;
    height: 232px;
}

.hero--text_wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    margin-left: 36px;
    margin-top: 32px;
}

.hero--article_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 110%;
    color: #222222;
    }

.hero--article {
    width: 90%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}